@import "tailwindcss";

@font-face {
  font-family: "FC Minimal Regular";
  src: url("/fonts/FC Minimal Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FC Minimal Bold";
  src: url("/fonts/FC Minimal Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url("/sky-bg.png");
  background-size: 100% 17%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  color: var(--foreground);
  font-family: "FC Minimal Regular", Arial, Helvetica, sans-serif;
  font-size: 2rem;

  overflow-x: hidden;
  user-select: none;
}