@import "tailwindcss";

@font-face {
  font-family: "CutePixel";
  src: url("/fonts/CutePixel.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url("/sky-pixel-bg.png");
  background-size: 100% 1.8%;
  background-attachment: scroll;
  background-repeat: no-repeat;
  
  color: var(--foreground);
  font-family: "CutePixel", Arial, Helvetica, sans-serif;
  font-size: 2rem;

  overflow-x: hidden;
  user-select: none;
}